# **Dictionaries**

In [ ]:
# creating a dictionary
country_info={"name":"India","Capital":"Delhi"}
print(country_info)

{'name': 'India', 'Capital': 'Delhi'}

In [ ]:
country_info = { "Name": "India","Capital":"Delhi"}
print(country_info["Name"])

India

In [ ]:
country_info = { "Name": "India","Capital":"Delhi"}
print(country_info["Capital"])

Delhi

In [ ]:
# Creating a dictionary
country_info = { "Name": "Japan","Capital":"Tokyo"}
print(country_info)
print(country_info["Name"])
print(country_info["Capital"])

{'Name': 'Japan', 'Capital': 'Tokyo'}
Japan
Tokyo

In [ ]:
country_info['Population']= '139.67M'
print(country_info)

{'Name': 'Japan', 'Capital': 'Tokyo', 'Population': '139.67M'}

In [ ]:
country_info['Regions']= ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku']
print(country_info)

{'Name': 'Japan', 'Capital': 'Tokyo', 'Population': '139.67M', 'Regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku']}

In [ ]:
# Arithmetic operations
a=12
b=10

In [ ]:
#addition
print("addition,a(12)+b(10)="),a+b

addition,a(12)+b(10)=

(None, 22)

In [ ]:
#substraction
print("minus,a(12)-b(10)="),a-b

minus,a(12)-b(10)=

NameError: ignored

In [ ]:
#multiplication
print("multiplication,a(12)*b(10)="),a*b

multiplication,a(12)*b(10)=

(None, 120)

In [ ]:
#division
print("division,a(12)/b(10)="),a/b

division,a(12)/b(10)=

(None, 1.2)

In [ ]:
#modulus
print("modulus,a(12)%b(10)="),a%b

modulus,a(12)%b(10)=

(None, 2)

**Conditional Statements-IF and Else**

In [ ]:
# Using the if Statement
x=1
if x < 10:
    print("Less than 10")
else:
    print("Over 10")

Less than 10

In [ ]:
# Using the if Statement
x=19
if x < 10:
    print("Less than 10")
else:
    print("Over 10")

Over 10

In [ ]:
# Using the if Statement
x=1
if x < 10:
    print("Less than 10")
elif x>10 and x <= 15:
  print("greater than zero but less than 10")
else:
    print("Over 20")

Less than 10

In [ ]:
# Using the if Statement
x=19
if x < 10:
    print("Less than 10")
elif x>10 and x <= 19:
  print("greater than zero but less than 10")
else:
    print("Over 20")

greater than zero but less than 10

***boolean in condition***

In [ ]:
a=True
if a:
  print(" statement was true")

 statement was true

***Loops***

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [ ]:
for i in range(0,5):
   print(i)

0
1
2
3
4

**while loop**

In [ ]:
x=0
while x<5:
  x += 1
  print(x)

1
2
3
4
5

In [ ]:
x=0
while True:
   if x == 5:
      break
   x += 1
   print(x)

1
2
3
4
5

**Functions**

In [ ]:
#Simple functions to return area of circle
def AreaCircle(radius):
    area=3.14*(radius**2)
    return area

In [ ]:
AreaCircle(4)

50.24

In [ ]:
#Simple functions to return volume of cylinder
def VolumeCylinder(radius,height):
    Volume=3.14*(radius**2)*(height)
    return Volume

In [ ]:
VolumeCylinder(radius=15,height=56)

39564.0